<div class= "container bg-dark text-light mt-4">
  <div>
  <h1 class="text-light text-center text-uppercase pt-4">
    articles
  </h1>
  <table  *ngIf="register(); else noArticles">
    <tr>
      <td>Code</td><td>Description</td><td>Price</td><td>Delete</td><td>Select Items</td>
    </tr>
<tr *ngFor ="let art of articles">
  <td>{{ art.code }}</td>
  <td>{{ art.description }}</td>
  <td>{{ art.price }}</td>
  <td><button (click) ="deleteMe(art)"> Delete?</button></td>
  <td><button (click) ="readMe(art)"> Select</button></td>
  <td></td>
</tr>
  </table>
   <ng-template #noArticles><p>There are no articles</p></ng-template>
</div>
<div class="column pb-4">
  <p style="flex-flow: row nowrap;">
    Code: <input type="number" [(ngModel)] = "art.code" />
  </p>
  <p style="flex-flow: row nowrap;">
    Description: <input type="text" [(ngModel)] = "art.description" />
  </p>
  <p style="flex-flow: row nowrap;">
    Price: <input type="number" [(ngModel)] = "art.price" />
  </p>
  <p class="row justify-content-center">
    <button  (click) = "aggregateMe()">Add</button>

    <button class="ml-4" (click) = "updateMe()">Update</button>
  </p>

</div>
</div>

<router-outlet></router-outlet>
